:root {
    --black: #000000;
    --grey-400: #949398;
    --yellow-400: #F5DF4D;
    --white: #FFFFFF;
    --font-size-xs: 1rem;
    --font-size-sm: 1.2rem;
    --font-size-md: 2rem;
    --font-size-lg: 3rem;
    --font-size-xl: 5rem;
    --font-weight-reg: 400;
    --font-weight-semi-bold: 500;
    --font-weight-bold: 700;
    --font: "Red Hat Display", sans-serif;
    --border-radius: 5px;

  font-size: var(--font-size-sm);
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
  background-color: var(--black);
  color: var(--yellow-400);
  font-family: var(--font);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-reg);
  margin: 0 5rem;
}

h1,h2,h3 {
  margin: 0;
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-xl);

}
h2 {
  font-size: var(--font-size-lg);
}
@media (max-width: 480px) {
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 5rem;
  }
  #intro h1 {
    padding-bottom: 5rem;
  }
  #intro h1 .greeting {
    padding-bottom: 5rem;
  }
}

a {
  color: var(--yellow-400);
  text-decoration: underline;
  font-weight: var(--font-weight-semi-bold);
  background: linear-gradient(to right, var(--yellow-400) 50%, var(--black) 50%);
  background-size: 201% 100%;
  background-position:right bottom;
}

a:hover {
  background-position: left bottom;
  color: var(--black);
  transition: all 0.1s ease;
}

li, p {
  line-height: 1.5;
}

/* intro styles */

#intro .wrapper {
  margin-top: 1rem;
  border: 1px solid var(--yellow-400);
  border-radius: var(--border-radius);
  padding-left: 2rem;
  max-width: 50rem;
}

#intro h1 {
  /* font-size: min(2, 5); */
  font-weight: var(--font-weight-bold);
  background: transparent;
  padding-right: 14rem;
  margin: -1.5rem 0px 1rem;
  white-space: nowrap;
}

#intro h1 .greeting {
  display: block;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  background: var(--black);

  font-weight: var(--font-weight-reg);
  font-size: var(--font-size-md);
}

#intro .dot {
  font-size: var(--font-size-md);
}

#intro h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* button {
  border: 1px solid var(--yellow-400);
  border-radius: 5px;
  padding: 0px 0.5rem;
} */

/* about styles */
#about ul {
  padding-left: 0.5rem;
  margin-bottom: 0;
}
#about ul li {
  padding-left: 4px;
  margin-bottom: 1rem;
}
#about ul li:last-child {
  margin-bottom: 0;
}
#about ul li::marker{
  content: ">";
  font-weight: var(--font-weight-bold);
}

#about #list-end {
  font-weight: var(--font-weight-bold);
}

/* nav styles */
header {
  padding: 3rem 0;
}

header .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.sr-only {
  position: absolute;
}
.skip-link {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: var(--font-size-xs);
}
.sr-only:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

/* footer styles */
footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

#social-links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}




